ul.tk-container {
    list-style-type: none;
}

.tk-container li {
    display: inline-block;
    background: aliceblue;
    margin: 1px;
    padding: 0 5px 0 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
    cursor: grab;
    color: #333;
}

.current-pos::before {
    opacity: 0.5;
    content: "> ";
    color: blue;
}

.tk-feedback {
    font-size: small;
    opacity: 0.75;
    color: orange;
}